@font-face {
    font-family: 'Appetite';
    src: url(../assets/fonts/Appetite_New.otf);   
}
@font-face {
    font-family: 'Museosans';
    font-weight: 900;
    src: url(../assets/fonts/MUSEOSANSCYRL.OTF);   
}
@font-face {
    font-family: 'Museosans';
    font-weight: 100;
    src: url(../assets/fonts/MUSEOSANSCYRL_0.OTF);   
}
@font-face {
    font-family: 'Museosans';
    font-weight: 300;
    src: url(../assets/fonts/MUSEOSANSCYRL_1.OTF);     
}
@font-face {
    font-family: 'Museosans';
    font-weight: 500;
    src: url(../assets/fonts/MUSEOSANSCYRL_2.OTF);    
}
@font-face {
    font-family: 'Museosans';
    font-weight: 700;
    src: url(../assets/fonts/MUSEOSANSCYRL_3.OTF);  
}
* {
    padding: 0;
    margin: 0;
    font-family: 'Museosans';
    font-weight: 300;
}
.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-image: url(../assets/img/back.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.women-background {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 45vw;
    height: 75vh;
    background-image: url(../assets/img/women.png);
    background-repeat: no-repeat;
}
.wave-background {
    position: fixed;
    width: 100%;
    height: 15vh;
    bottom: 0;
    background-image: url(../assets/img/wave.png);

}
.heart-1 {
    position: fixed;
    z-index: -1;
    top: 25vh;
    left: 5vw;
    width: 50vw;
    height: 50vh;
    background-image: url(../assets/img/heart1.png);
    background-repeat: no-repeat;
    transition: 1s;
}
.heart-2 {
    position: fixed;
    z-index: -1;
    top: 10vh;
    right: -2vw;
    width: 10%;
    height: 50vh;
    background-image: url(../assets/img/heart2.png);
    background-size: 9vw 20vh;
    background-repeat: no-repeat;
    transition: 1s;
}
.bottom-arrow {
    position: absolute;
    width: 30px;
    height: 60px;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
}
.bottom-arrow-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50px;
    height: 50px;
}
.bottom-arrow::after {
    content: '';
    position: absolute;
    left: -25px;
    right: -27px;
    top: -25px;
    bottom: 5px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    animation: arrow 1.5s linear infinite;
}
.bottom-arrow::before {
    content: '';
    position: absolute;
    left: -25px;
    right: -27px;
    top: -25px;
    bottom: 5px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    animation: arrow 1.5s linear infinite;
    animation-delay: .5s;
    opacity: 0;
}
@keyframes arrow {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    50% {
        opacity: 0.8;
    }
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}
.bottom-arrow:hover {
    cursor: pointer;
}
.header {
    padding-top: 3vh;
    width: 100%;
}
.header-wrapper {
    margin: 0 auto; 
    width: 1530px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header-first-part {
    width: 40vw;
}
.header-second-part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60vw;
}
.header-logo-text {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}
.header-text {
    font-family: 'Museosans';
    font-weight: 300;
    color: #282828;
    margin-left: 3vw;
    width: 7vw;
    padding-bottom: 8px;
    font-size: 14px;
}
.header-location {
    justify-items: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.header-location-text {
    color: #282828;
    font-size: 16px;
    padding-left: 10px;
}
.watch-text {
    text-align: center;
    padding-top: 15px;
    color: #fe7286;
    text-transform: uppercase;
    border-bottom: 1px dashed #fe7286;
    transition: .2s;
}
.watch-text:hover {
    cursor: pointer;
    transform: scale(0.9);
    transition: .2s;
}
.show-map {
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    position: fixed;
    width: 300px;
    height: 300px;
}
#map > ymaps {
    border-radius: 10px;
    overflow: hidden;
}
.our-location {
    font-weight: 700;
}
.header-contacts img{
    height: 60px;
}
.header-contacts-part {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.call-li {
    color: green;
}
.call-li span {
    color: #282828;
}
.phone-icon{
    animation: left 1s linear infinite;
}
.time-icon {
    animation: left 1s linear infinite;
}
.phone-icon:hover {
    cursor: pointer;
}
.time-icon:hover {
    cursor: pointer;
}
@keyframes left {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-2px);
    }
    100% {
        transform: translateX(0);
    }
}
.header-contact-info-text {
    font-size: 12px;
}
.header-contact-info-phone {
    font-size: 25px;
    font-weight: 700;
}
.header-time-text span {
    font-weight: 700;
}
.header-appointment {
    display: flex;
    align-items: center;
}
.appointment-button {
    background-color: #ffffff;
    border-bottom: 5px solid #ebeaea;
    border-radius: 40px;
    padding: 15px;
    height: 40px;
    width: 10vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: .2s;
}
.appointment-button:hover {
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    transition: .2s;
}
/* navigation */
.main-menu {
    margin-top: .5vh;
    width: 100%;
}
.main-menu-wrapper {
    height: 60px;
    border-bottom: 8px solid #f5f5f5;
    border-radius: 10px;
    background-color: #ffffff;
    width: 1560px;
    margin: 0 auto;
    display: flex;
}
.navigation {
    width: 100%;
    padding: 1.5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
}
.navigation a {
    text-decoration: none;
    color: #282828;
    transition: .3s;
}
.navigation a:hover {
    font-size: 1.2em;
    transition: .3s;
}
/* Main Content */
.main-content {
    margin-top: 5vh;
    width: 100%;
}
.main-content-wrapper {
    position: relative;
    margin: 0 auto;
    width: 1330px;
}
.main-text {
    color: #282828;
    font-size: 48px;
}
.main-text span {
    font-weight: 700;
}
.list {
    list-style-image: url(../assets/img/list-style.png);
    list-style-position: inside;
    margin-top: 2vh;   
}
.list li {
    position: relative;
    line-height: 1.5vw;
    font-size: 18px;
    color: #282828;
}
.list span {
    position: absolute;
    top: -2px;
}
.card-button {
    position: relative;
    height: 85px;
    width: 18vw;
    border-radius: 40px;
    border-bottom: 5px solid #e48087;
    background-color: #f39ea1;
    transition: .3s;
}
.card-button:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transition: .3s;
}
.card-button span {
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
}
.card-button-text-1 {
    position: absolute;
    top: 25px;
    left: 45px;
}
.card-button-text-2 {
    position: absolute;
    top: 45px;
    left: 30px;
}
.card-button-image {
    position: absolute;
    top: 10px;
    left: 200px;
}

.client-card {
    position: absolute;
    left: 43.5%;
    top: 25vh;
}
.card-hint {
    position: absolute;
    top: 175px;
    left: 141px;
    transition: .2s;
    z-index: 5;
    animation: pulse 2s linear infinite;
}
.hint-text {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-color: #ffffff;
    text-align: center;
    padding: 20px;
    position: absolute;
    top: -200px;
    z-index: -5;
    left: 35px;
    width: 9vw;
    font-size: 14px;
}
.hide {
    display: none;
    transition: .2s;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.1)
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
.card-hint:hover {
    cursor: pointer;
    opacity: 0.9;
    transition: .2s;
}
.pop-up-back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(3px);
    z-index: 10;
    transition: .3s;
}
.pop-up {
    transition: .3s;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 740px;
    height: 640px;
    border-radius: 40px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../assets/img/pop-up-back.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 10;
}
.pop-up > span {
    position: absolute;
    top: 20px;
    right: 40px;
    color: #d2d0d1;
    transform: scale(1.2);
    transition: .3s;
}
.pop-up > span:hover {
    cursor: pointer;
    transform: scale(1.5);
    transition: .3s;
}
.pop-up-header {
    margin-top: 50px;
    font-size: 36px;
}
.pop-up-header span {
    font-weight: 700;
}
.pop-up-text {
    margin: 30px auto;
    width: 80%;
}
.pop-up-image {
    width: 40%;
    height: 75%;
    position: absolute;
    top: 130px;
    left: -150px;
    z-index: -1;
    background-image: url(../assets/img/pop-up-image.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.pop-up-plant {
    width: 30%;
    height: 30%;
    
    position: absolute;
    bottom: -30px;
    right: 0;
    background-image: url(../assets/img/Plant.png);
    background-repeat: no-repeat;
    background-size: 100%;
} 
.form-item {
    color: #989797;
    margin-bottom: 20px;
    box-sizing: border-box;
    width: 70%;
    height: 70px;
    border-radius: 30px;
    padding: 10px;
    outline: 0;
    border: 0;
}
.form-button {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 5px;
    background-color: #f2999d;
    border-bottom: 5px solid #f08c92;
    transition: .2s;
}
.form-button:hover {
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    transition: .2s;
}
.pop-up-accept-back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(3px);
    z-index: 10;
    transition: .3s;
}
.pop-up-accept {
    width: 520px;
    height: 340px;
    background-image: url(../assets/img/pop-up-accept.png);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 10;
    border-radius: 40px;
    text-align: center;
}
.pop-up-accept p {
    font-size: 24px;
}
.pop-up-accept-text-1 {
    margin-top: 200px;
    font-weight: 700;
}
.pop-up-accept > span {
    position: absolute;
    top: 20px;
    right: 40px;
    color: #d2d0d1;
    transform: scale(1.2);
    transition: .3s;
}
.pop-up-accept > span:hover {
    cursor: pointer;
    transform: scale(1.5);
    transition: .3s;
}
@media(max-width: 1919px) {
    .background {
        background-size: contain;
    }
    .appointment-button {
        font-size: 0.8em;
    }
    .wave-background {
        background-size: contain;
        bottom: -20px;
    }
}
@media(max-width: 1560px) {
    .main-menu-wrapper {
        width: 95%;
    }
    .header-wrapper {
        width: 95%;
    }
    .main-content-wrapper {
        width: 90%;
    }
}
@media(max-width: 1360px) {
    .header-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .header-logo-text {
        display: flex;
        justify-content: center;
    }
    .header-text {
        width: 20vw;
    }
    .header-appointment {
        display: block;
    }
    .appointment-button {
        width: 100%;
        font-size: 0.7em;
    }
    .header-first-part {
        width: 100%;
    }
    .header-second-part {
        width: 90%;
    }
    .main-menu-wrapper {
        font-size: 0.8em;
        height: 70px;
    }
    .main-content-wrapper {
        position: relative;
    }
    .client-card {
        position: absolute;
        left: 70%;
        top: 0;
    }
    .main-button {
        position: absolute;
        left: 55%;
        bottom: 0;
        width: 50%;
    } 
    .background {
        background-size: auto;
    }
}
@media(max-width: 1024px) {
    .heart-2 {
        display: none;
    }
    .main-button {
        width: 25%;
        left: 70%;
    }
    .card-button {
        width: 100%;
    }
    .card-button-image {
        display: none;
    }
    .navigation {
        display: grid;
        text-align: center;
        grid-template-columns: 20% 20% 20% 20% 20%;
    }
    .bottom-arrow {
        display: none;
    }
}
@media(max-width: 768px) {
    .client-card {
        display: none;
    }
    .bottom-arrow {
        display: none;
    }
    .main-button {
        width: 32%;
    }
    .card-button {
        width: 100%;
    }
    #map {
        z-index: 100;
    }
    .main-menu-wrapper {
        height: 200px;
    }
    .navigation {
        display: grid;
        text-align: center;
        grid-template-columns: 20% 20% 20% 20% 20%;
    }
    .heart-1 {
        display: none;
    }
}
@media(max-width: 676px) {
    .header-logo-text{
        text-align: center;
        flex-direction: column;
    }
    .background {
        background-size: auto;
    }
    .wave-background {
        display: none;
    }
    .header-text {
        width: 80%;
    }
    .header-second-part {
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }
    .header-location {
        justify-content: center;
    }
    .header-contacts-part {
        justify-content: center;
    }
    .header-appointment {
        display: flex;
        justify-content: center;
    }
    .appointment-button {
        font-size: 0.8em;
        width: 30%;
    }
    .navigation {
        grid-template-columns: 33% 33% 33%;
    }
    .main-text {
        font-size: 30px;
    }
    .main-button {
        right: 0;
        top: 0;
    }
    .card-button {
        text-align: center;
    }
    .card-button span{
        font-size: 0.7em;
    }
}
@media(max-width: 676px) {
    .main-text {
        font-size: 22px;
    }
    .main-button {
        left: 60%;
        top: 0;
    }
}
@media(max-width: 530px) {
    .appointment-button {
        width: 40%;
    }
    .main-text {
        font-size: 28px;
    }
    .main-button {
        display: none;
    }
    .main-list {
        margin-top: 20px;
    }
    .list li {
        margin-top: 20px;
        line-height: 4vh;
        font-size: 18px;
        color: #282828;
    }
}